body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #b4afaf;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 30px;
    width: 160px;
    background: rgb(90, 166, 238);
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúscula */
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #162B4E;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #162B4E;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #aaa5a5;
}

.copy-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #162B4E;
    color: white;
    border: none;
    border-radius: 3px;
}

.copy-button:hover {
    background-color: #162B4E;
}
